{% extends 'layout.html' %}

{% block content %}

{% from "_macros.html" import render_field %}
<div class="container">
    <div class="row">
        <h3 class="text-center">Pizzería</h3>
        <div class="span12">
            <div class="well">
                <div class="text-right">
                    <a href="pedidos" class="btn btn-success">Nuevo Pedido</a>
                </div>
                <h4>Filtrar Pedidos</h4>
                <form method="GET" action="/pizzeria" class="form-horizontal">

                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                {{ render_field(form.dia, class="input-xlarge") }}
                            </div>
                        </div>
                        
                        <div class="span6">
                            <div class="control-group">
                                {{ render_field(form.mes, class="input-xlarge") }}
                            </div>
                        </div>
                       
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                        <button type="button" class="btn" onclick="window.location.href='/pizzeria'">Limpiar</button>
                    </div>
                </form>
                <hr>
                <h5>Ventas {{ filtro }}</h5>
                <h2>Total: {{ ventas }}</h2>
                <hr>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Envío</th>
                            <th>Teléfono</th>
                            <th>Fecha Pedido</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ped in pedidos %}
                            {% if not fecha_filtro or ped.fechaCompra == fecha_obj %}
                                {% if not mes_filtro or (ped.fechaCompra.year == mes_obj.year and ped.fechaCompra.month == mes_obj.month) %}
                                <tr>
                                    <td>{{ ped.nombreCliente }}</td>
                                    <td>{{ ped.direccionEnvio }}</td>
                                    <td>{{ ped.telefono }}</td>
                                    <td>{{ ped.fechaCompra }}</td>
                                    <td>{{ ped.totalCompra }}</td>
                                    <td><a href="pedidos?id={{ ped.id_pedido }}" class="btn btn-warning">Detalle</a></td>
                                </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
